@font-face {
	font-family: 'lobster regular';
	src: url('lobster-regular-webfont.eot');
	src: url('lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('lobster-regular-webfont.woff') format('woff'),
		url('lobster-regular-webfont.ttf') format('truetype'),
		url('lobster-regular-webfont.svg') format('svg');
}